<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Weather Channel Part 2</title>
        <link rel="stylesheet" type="text/css" href="style.css"/>
        <meta charset="utf-8"/>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>

    </head>
    <body>
      

        <div id='rain'>
        <h1> Your Local 5 Day Weather Forcast </h1>
            <div class="shadowed blue nice-box">
                <ul style="list-style-type: none; text-align: center;">
                <li>
                    Current Country {{geo.country_name}}
                </li>
                    <span>
                        
                    </span>
                <li>
                     Current Region {{geo.region_name}}
                </li>
                <li>
                    Current City {{geo.city}}
                </li>
                <li>
                    good:{{good}} bad:{{bad}} Normal:{{normal}}
                </li>
            
            </ul>
            <ul style="list-style-type: none;text-align: center;">
                <li >
                    Current Weather <br>
                    Sky Conditions: {{current.sky}} <br>
                    Temp:            {{current.temp}} F                         <br>
                    Humidity:         {{current.hum}} %                         <br>
                    Pressure:         {{current.pres}} hPa                         <br>
                    
                    
                </li>
            </ul>
            </div>
                <img class="center" id="gif" src= 'loadinggif.gif' />
            <ul id="theList">
               
               
               
               <li style="list-style-type: none;" v-for="(block, idx) in weather">
                    <div v-if="block.vote" calss="shadowed green stuff-box"
                        v-on:click="toggle"
                        v-bind:data-idx="idx">
                        
                         Date and Time: {{block.dt_txt}} <br>
                         Temperature: {{block.main.temp}} F <br>
                         Sky Conditions: {{block.weather.main}} <br>
                         Humidity: {{block.main.humidity}}% <br>
                         Pressure: {{block.main.pressure}} hPa <br>

                    </div>
                    <div v-else-if="block.norm"  class="shadowed blue stuff-box"
                        v-on:click="toggle"
                        v-bind:data-idx="idx">
                         Date and Time: {{block.dt_txt}} <br>
                        Temperature: {{block.main.temp}} F <br>
                        Sky Conditions: {{block.weather[0].main}} <br>
                         Humidity: {{block.main.humidity}}% <br>
                         Pressure: {{block.main.pressure}} hPa <br>
                    </div>
                    <div v-else class="shadowed blue stuff-box"
                        v-on:click="toggle"
                        v-bind:data-idx="idx">
                         Date and Time: {{block.dt_txt}} <br>
                         Temperature: {{block.main.temp}} F <br>
                         Sky Conditions: {{block.weather[0].main}} <br>
                         Humidity: {{block.main.humidity}}% <br>
                         Pressure: {{block.main.pressure}} hPa <br>
            </ul>
            
            
        
        </div>
        
        <script src="weather.js"> </script>
    </body>
</html>

